<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="justify-content: center;">
  <form style="max-width: 80%;  padding-left: 25%; padding-top: 10%;">
    <ion-item >
      <ion-label position="floating">Correo electronico</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <!-- <ion-item lines="full">
      <ion-label position="floating">Tu carita</ion-label>
      <ion-input type="file" capture="camera" required></ion-input>
    </ion-item> -->
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="login(email, password)" expand="block">Login</ion-button>
      </ion-col>
     
    </ion-row>
   <!--  <ion-row>
      <ion-col>
        <p class="ion-text-end">
          <a routerLink="/forgot-password">Forgot password? </a>
        </p>
      </ion-col>
    </ion-row> -->
  </form>
  <!-- <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a routerLink="/register">Create an account </a>
      </p>
    </ion-col>
  </ion-row> -->
  <div class="center2" hidden>
    <div class="video-container" *ngIf="!error">
      <video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT"
        autoplay></video>
      <canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
        [height]="HEIGHT" hidden></canvas>
    </div>
    
    <!-- <div class="snap-container">
      <button class="btn btn-primary" *ngIf="!isCaptured" (click)="capture()">capturar</button>
      <button class="btn btn-danger" *ngIf="isCaptured" (click)="removeCurrent()">Take Another</button>
    
      <div *ngIf="error" class="text-danger mt-4">
        {{ error }}. Please click refresh on stackblitz
        <div class="mt-5">
          <img src="https://trungk18.com/7e0976255739e721501803ee074f1f94/camera.gif" />
        </div>
        </div>
      </div>
    
      <ul class="list-unstyled">
        <li *ngFor="let src of captures; let idx = index" (click)="setPhoto(idx)">
          <img [src]="src" height="50" />
      </li>
      </ul> -->
    </div>
</ion-content>