<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <p>{{subject}}
        <app-nav-menu style="align-content: right; float: right;"></app-nav-menu>
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center2">
    <ion-card *ngFor="let grade of grades">
      <ion-item class="ion-activated">
        <ion-icon name="checkbox"> slot="start"></ion-icon>
        <ion-label>{{grade.name}}: {{grade.grade_value}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item class="ion-activated">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Nota final: 45</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>