<ion-header>
  <ion-toolbar>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" #name required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" #lastname required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Codigo</ion-label>
      <ion-input type="password" #code required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Carrera</ion-label>
      <ion-input type="password" #degree required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onRegister(email, password, name, lastname, code, degree)" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <p>
        <a routerLink="/login">Already have an account? </a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
